@tailwind base;
@tailwind components;
@tailwind utilities;


.menu {
  @apply absolute flex flex-col gap-4 transition-opacity duration-[0.4s] bg-white w-full px-10 py-16;
}

.navlinks {
  @apply transition-transform duration-300 py-5 border-b-[1px] border-gray-300;
}

.loading {
  display: inline-flex;
  align-items: center;
}

.loading .spacer {
  margin-right: 2px;
}

.loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 1px;
}

.loading span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}